# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Node (Frontend) ---
node_modules/
dist/
dist-ssr/
*.local

# --- Laravel (Backend) ---
/vendor/
/node_modules/
/storage/*.key
/storage/framework/cache/data/*
/storage/logs/*
/storage/app/public/*
/bootstrap/cache/*
.env
.env.backup
Homestead.yaml
Homestead.json
/.idea

# --- OS / Editor junk ---
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# --- Misc ---
*.bak
*.tmp
*.temp
